extends layout.pug

block source
  link(rel='stylesheet' href='css/about-contacts.css')

block contents
  main
    .about
      h1 Как появилась наша компания?
      img(src='images/dump_of_bricks.jpeg')
      p Как то раз два владельца гуляли по городу и увидели свалку с кирпичами.
      p В этот момент один из них строил себе дачу и подумал:
      p "А почему я должен покупать кирпичи если есть те кто их выкидывает?"
      p С такой идеей сэкономить началась компания.
      p
        | Мы находим людей которым нужно избавиться от кирпичей, например при сносе здания и забираем их.
      p
        | После этого мы их моем, выкидываем те что уже не надлежащего качества и придаем товарный вид.
    .histories(cellpadding='5')
      h1 Истории
      table(border='0' align='center' height='100%' width='90%')
        tbody
          tr
            th Месть
            th Находка
            th Креатив
            th Лестница
          tr
            td
              p
                | Однажды у нас заказали всего 10 кирпичей и попросили доставить к обычному жилому дому. Когда мы привезли их, заказчик просто закидал ими чью-то машину. После этой истории мы решили добавить такую услугу, для постоянных клиентов.
            td
              p
                | В момент обработки очередной партии кирпичей мы обнаружили в нескольких из них тайники с золотыми украшениям. Это был удачный день.
            td
              p
                | Как-то нам поступил инетересный заказ. Позвонила девушка и сказала что ей нужны кирпичи для скульптуры. Потома она отправила нам фото того как она играла в дженгу кирпичами.
            td
              p
                | Одним февральским 14 числом наши грузчики вместе с креативным мужчиной строили лестницу до 2го этажа.
          tr
            td
              p Иван
            td
              p Николай
            td
              p Анна
            td
              p Муххамед
    .features
        h1 Почему стоит покупать наши кирпичи?
        table(border='0' align='center' height='100%' width='90%')
          tbody
            tr
              td
                img(src='images/shopping-cart.png' width='32' height='32' align='left')
              td
                p Мы доставим кирпичи прямо к нужному месту.
            tr
              td
                img(src='images/clock.png' width='32' height='32' align='left')
              td
                p Мы очень пунктуальны, никогда не опаздываем
            tr
              td
                img(src='images/car.png' width='32' height='32' align='left')
              td
                p Если вам насолил какой-то автомобиль, мы можем закидать его кирпичами.