script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?sensor=false')
script(src='../js/jquery-3.5.1.js')
script(src='../js/imageopener.js')
script(src='../js/popup.js')
script(src='../js/theme.js')
script(src='../assets/jquery.js')
script(src='../assets/jquery.velocity.min.js')
script(src='../assets/uikit/js/uikit.js')
script(src='../assets/holder.js')
script(src='../assets/countUp.js')
script(src='../assets/uikit/js/components/accordion.min.js')
script(src='../assets/uikit/js/components/grid.min.js')
script(src='../assets/uikit/js/components/lightbox.min.js')
script(src='../assets/uikit/js/components/search.min.js')
script(src='../assets/uikit/js/components/slideshow.min.js')
script(src='../assets/uikit/js/components/slideshow-fx.min.js')
script(src='../assets/uikit/js/components/sticky.min.js')
script(src='../assets/uikit/js/components/slider.min.js')